<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Hello brothers</h1>
    <h6>Эмоциональное выгорание («эмоциональное сгорание») —  вид профессиональной дисфункции у лиц, тесно общающихся с людьми, выраженный моральным, умственным и физиологическим истощением.

Признаки эмоционального выгорания:

Моральное истощение – это стремление к одиночеству, зависть, злоба, обвинение, уход от ответственности.
Умственное истощение – это безразличие к работе, хроническое нежелание идти на работу, отвращение, вспыльчивость, хроническое недовольство, потеря профессионализма.
Физиологическое истощение – это хроническая усталость, головные боли, пониженный иммунитет, слабость в мышцах, нарушение в работе пищеварительного тракта, соматические заболевания.</h6>
    <form action="/anketa">
        <input type="submit" value="Пройти опрос" />
    </form>
    <form action="/result">
        <input type="submit" value="Посмотреть результаты" />
    </form>
</body>
</html>